@import "tailwindcss";



.animation{
    animation: flowdown 2s ease-in-out forwards;
    overflow: hidden;
}
@keyframes flowdown{
  0% {
    max-height: 5rem;
  }
  100% {
    max-height:210vh;
  }
}

.amita-regular {
  font-family: "Amita", serif;
  font-weight:700;
  font-style: normal;
}

.amita-bold {
  font-family: "Amita", serif;
  font-weight: 700;
  font-style: normal;
}



.tiro-devanagari-marathi-regular {
  font-family: "Tiro Devanagari Marathi", serif;
  font-weight: 400;
  font-style: normal;
}

.tiro-devanagari-marathi-regular-italic {
  font-family: "Tiro Devanagari Marathi", serif;
  font-weight: 700;
  font-style: italic;
}


/* -----------------english------------------- */
.monsieur-la-doulaise-regular {
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: 700;
  font-style: normal;
}
.montecarlo-regular {
  font-family: "MonteCarlo", cursive;
  font-weight: 400;
  font-style: normal;
}

